html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.disable {
    display: none;
}

.wrapper-flex-space-beetween {
  display: flex;
  justify-content: space-between;
}

.wrapper-flex-space-arround {
  display: flex;
  justify-content: space-around;
}


.my-number-form-wrapper {
  margin-top: 30px;
}


.psychicGuessListItem {
  margin-top: 20px;
}


.user-numbers-history-list-item{
  margin-top: 10px;
}


.work-with-psychics-guesses-wrapper {
  margin-left: 10px;
}


.wrapper-flex {
  display: flex;
}

.psychic-info-list-item {
  margin-top: 15px;
}


.psychic-guesses-history-list-item {
  margin-left: 0px;
  margin-top: 15px;
}


.highlight {
  color: black;
  background-image: none;
  -o-animation: fadeIt 3s ease-in-out;
  animation: fadeIt 3s ease-in-out;
}

;
@-o-keyframes fadeIt {
  0% {
    background-color: #FFFFFF;
  }
  50% {
    background-color: #AD301B;
  }
  100% {
    background-color: #FFFFFF;
  }
}

@keyframes fadeIt {
  0% {
    background-color: #FFFFFF;
  }
  50% {
    background-color: #AD301B;
  }
  100% {
    background-color: #FFFFFF;
  }
}